<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/static/stylesheet/universal.css" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header class="sticky-top"><%- include('../partials/navfilter') %></header>
    <main class="mt-2">
      <div class="container rounded-2" style="background-color: ghostwhite">
        <div
          class="row justify-content-center pt-2 gap-lg-4"
          id="Container-card-dapil"
        >
          <% dataApi.forEach(element => { %>
          <div class="card col-1 mb-2" style="width: 20rem">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title"><%= element.namaDapil %></h3>
              <p class="card-text">List Dapil <%= element.namaDapil %></p>
              <div class="d-grid gap-2 mt-auto">
                <a name="" id="" class="btn btn-danger" href="#" role="button"
                  >List</a
                >
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <div class="container d-flex justify-content-center sticky-bottom">
      <%- include('../partials/paginations') %>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>

    <script>
      let filter_box = document.getElementById("filter-box");
      let btn_filter_text = document.getElementById("btn-filter-text");

      function filterButton_OnClick() {
        if (btn_filter_text.classList.contains("visible")) {
          btn_filter_text.classList.replace("visible", "hidden");
          btn_filter_text.innerText = "Tampilkan Filter";
          filter_box.classList.add("visually-hidden");
        } else if (btn_filter_text.classList.contains("hidden")) {
          btn_filter_text.classList.replace("hidden", "visible");
          btn_filter_text.innerText = "Sembunyikan Filter";
          filter_box.classList.remove("visually-hidden");
        }
      }
    </script>
  </body>
</html>
